<%- include('./includes/head.ejs') %> 
</head>
<body>
    <%- include('./includes/navigation.ejs') %> 
    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% prods.forEach(product => { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://images.unsplash.com/photo-1601318314960-e17a48ebb6f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80"
                        alt="An item">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">
                        A very interesting item that is sure to bring you happiness and other things that items bring.
                    </p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to cart</button>
                </div>
            </article>
            <% }) %>
        </div>
        <% } else { %>
            <h1>No products found</h1>
        <% } %>
    </main>
<%- include('./includes/end.ejs') %>