<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <style>
      body {
        font-family: sans-serif;
        margin:0;
        padding:0;
      }
      nav {
        background-color: black;
        color: white;
      }
      nav ul {
        list-style: none;
        display: flex;
        margin:0;
        padding:0;
      }

      nav ul li {
        /* margin: 0 0.35rem; */
        padding: 1rem;
      }

      nav a,
      nav a:active {
        color: lightgray;
        text-decoration: none;
      }

      nav a:hover,
      nav a.active {
        color:white;
      }

      form {
        width: 20rem;
        margin:auto;
        max-width: 90%;
      }

      form * {
        margin: 0.25rem 0;
      }

      form label,
      form input {
        display: block;
        width:100%;
      }

      /* div.form__content {
        display: flex;
        align-items: center;
      } */
    </style>
  </head>
  <body>
